#mainboard{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(2,1fr);
    background:linear-gradient(skyblue,orange);
    width: 1000px;
    height: 500px;
    overflow:hidden ;
    position:absolute;
}
#g{
    height: 250px;
}
#player{
    height: 50px;
    width: 50px;
    background-color: red;
    grid-row-start: 2;
    margin-top: 200px;
    position: absolute;
    
}
#pc{
    background-color:green;
    grid-row-start: 2;
    grid-column-start: 2;
    

}